/***************HERO START***************/

.hero {
  display: flex;
  padding: 137px 0 114px;
  background: url(https://unsplash.it/g/1920/1080) center no-repeat #484848;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;

  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  margin: 0 0 30px;
  font-weight: 900;
  font-size: 2.8em;
}

.hero p {
  margin: 0;
}

/***************HERO END***************/
