/*normalize*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'MuseoSans', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

p{
    margin-top: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*global styles*/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #313131;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

main section:nth-child(odd) {
  background-color: #eeeeee;
}

main section:nth-child(even) {
  background-color: #e5e5e5;
}

footer {
  background-color: #c9c9c9;
}

section {
/*
  display: flex;
  flex-direction: column;
  align-items: center;
*/
  padding: 135px 0;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}


/*header*/

header {
  width: 100%;
  line-height: 1.55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 0;
}

.header__logotype {
  flex: 1;
  font-weight: 900;
/*  font-size: 26px;*/
  font-size: 1.857em;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  flex: 4;
  justify-content: flex-end;
  text-transform: uppercase;
}

.header__phone {
  flex: 1;
  text-align: right;
  font-weight: 900;
  font-size:1.143em;
}

header nav a {
  margin: 0 18px;
}

header nav a:hover {
  text-decoration: none;
  text-shadow: 1px 0 0 #000;
}


/*hero section*/

.hero {
  background: url(https://unsplash.it/g/1920/1080) center no-repeat #484848;
  background-attachment: fixed;
  color: #ffffff;
  font-size: 1.429em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hero h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2.800em;
  line-height: 2;
}

.hero p {
  line-height: 1.6;
  margin: 0;
}


/*grid*/

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*services*/

.services .grid .col {
  flex-basis: 23%;
}

/*
.services .grid .col__title {
  text-align: center;
}
*/

.services .grid .col object {
  width: 50px;
}

.services .grid .col object svg {
  fill: #fff;
}

.services .grid .col__img {
  background-color: #3498db;
  padding: 25px 0;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
}

.services .grid .col h5 {
  margin: 15px 0;
  font-size: 21px;
  color: #3498db;
  text-align: center;
}

<<<<<<< HEAD
.products {
  padding: 92px 0;
=======
.products .grid{
  align-items: center;
>>>>>>> origin/master
}

.products .products__description .col{
  width: 50%;

}

.products h2{
  font-weight: 900;
  font-size: 3.000em;
    text-transform: uppercase;
}

.products .products__text{
  font-size:1.286em;
    margin-top: 0;
}

<<<<<<< HEAD
.products .products__button{
    font-size:1.143em;
    background: #f5f5f5;
    padding: 20px 96px;
    border: none;
    border-radius:5px;
    text-transform: uppercase;

}

.products__example{
    display: flex;
    flex-wrap: wrap;
}

.products__example .col{
    width:100%;
    max-width: 370px;
    position: relative;
    min-height: 280px;
  background: #ffffff;
    transition: 0.3s ease-out;
}

 .products__example .col:hover{
     color: #ffffff;
    background: #000000;
    transition: 0.3s ease-in;
}
.products__example .example__text{
    text-align: center;
    font-weight: 900;
}


.products__example .example__text p{
    font-size:0.857em;
}

.products__example .example__text h3{
font-size:2.286em;
}

.products__example .example__img{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

}
.products__example .example__img img{
    max-width: 85%;
    vertical-align: bottom;
}





=======
.products .grid .col{
  width: 50%;
}
>>>>>>> origin/master

/*footer*/

footer {
    padding: 54px 0;
}

.footer__logo {
    font-weight: 700;
    font-size: 19px;
}

.footer__contact {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    line-height: 1.3;
    font-weight: 600;
}

.footer__menu {
    text-transform: uppercase;
}

.footer__menu li {
    margin-bottom: 7px;
<<<<<<< HEAD
=======
}

.input--error {
  background: red;
}

.input--succsess {
  background: green;
>>>>>>> origin/master
}
