/*******************************************media********************************/

@media (max-width: 1200px) {
  .container {
    max-width: 920px;
  }

  .grid {
   justify-content: space-around;
  }

  .services .col {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {

  .container {
    max-width: 100%;
  }

  .header__phone {
    flex: 2;
  }

}

@media (max-width: 768px) {
  label.menu__icon {
    display: block;
  }

  .header__menu {
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    background: rgba(0, 0, 0,0.9);
    top: 0;
    width: 100%;
    bottom: 0;
    left: -100%;
    transition: left 0.5s ease-out;
  }

  .header__menu a {
    color: #ffffff;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    margin: 0;
  }

  .header__menu a:first-child {
    border-top: 2px solid #fff;
  }

  .header__menu a:hover {
    text-decoration: underline;
  }

  .header__phone {
    text-align: center;
  }
/*product*/
    .products__description{
        text-align: center;
    }
    .products__example {
    flex-direction: column;
}
}
@media (max-width: 480px) {
/*header*/
  .header {
    flex-direction: column;
  }
  .menu__icon{
        top: 37px;
  }
}
