/*****************************************************newsletter*******************************************************/

.footer__social form input[type="submit"] {
  margin-left: 10px;
}

/*****************************************************footer*******************************************************/

footer {
    padding: 54px 0;
    background-color: #c9c9c9;
}

.footer__logotype {
    font-weight: 700;
    font-size: 19px;
}

.footer__contact {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    line-height: 1.3;
    font-weight: 600;
}

.footer__menu {
    text-transform: uppercase;
}

.footer__menu a {
    display: block;
    margin-bottom: 7px;
}

.footer__title {
  margin: 0 0 9px;
  text-transform: uppercase;
  font-size: 1em;
}

/*******************************************media********************************/

@media (max-width: 992px) {
/*global*/
.grid {
 justify-content: space-around;
/*    text-align: center;*/
}

/*header*/
  .header__phone {
    flex: 2;
  }
/*services*/
  .services .grid .col{
    margin: 0  10px 20px;
  }
  .services  .col__text{
    text-align: center;
  }
/*product*/
    .products__description .col {
     width: 100%;
    max-width: 340px;
}
/*
    .products__text{
        text-align: center;
    }
*/
    .products__info .products__button{
        margin-bottom: 15px;
    }
}
@media (max-width: 768px) {
  label.menu__icon {
    display: block;
  }

  .header__menu {
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    background: rgba(0, 0, 0,0.9);
    top: 0;
    width: 100%;
    bottom: 0;
    left: -100%;
    transition: left 0.5s ease-out;
  }

  .header__menu a {
    color: #ffffff;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    margin: 0;
  }

  .header__menu a:first-child {
    border-top: 2px solid #fff;
  }

  .header__menu a:hover {
    text-decoration: underline;
  }

  .header__phone {
    text-align: center;
  }
/*product*/
    .products__description{
        text-align: center;
    }
    .products__example {
    flex-direction: column;
}
}
@media (max-width: 480px) {
/*header*/
  .header {
    flex-direction: column;
  }
  .menu__icon{
        top: 37px;
  }
}
