/***************NEWS START***************/

.news {
  padding: 69px 0 0 0;
}

.news .col {
  flex-basis: 370px;
}

.news .news__title {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;

  align-items: center;
}

.news__title h5 {
  display: inline-block;
  margin: 0;
  font-weight: 900;
}

.news__title h5:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 70px;
  height: 5px;
  background: #fff;
  content: "";
}

.news__title .see-all {
  margin: 0 0 0 35px;
  font-size: 12px;
}

.news__post {
  background: #ffffff;
}

.post__img {
  position: relative;
  line-height: 0;
}

.post__img:hover .post__date {
  padding: 10px 20px;
  font-size: 14px;
  transition: all 0.4s ease;
}

.post__date {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 5px 20px;
  background: rgba(140, 140, 140, .9);
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  font-family: Helvetica, Lato, sans-serif;
  line-height: 1;
  transition: all 0.3s ease;
}

.post {
  padding: 0 20px 20px ;
}

.post h5 {
  font-weight: 900;
  color: #3498db;
}

.post h5 a {
  color: #3498db;
}

.post__text {
  margin: 5px 0;
  text-align: justify;
}

.post__text p {
  display: inline;
}


/***************NEWS END***************/
