/***************PRODUCTS START***************/
.products {
  padding: 91px 0;
}

.products__description .col {
  flex: 1;
}

.products__description h2 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 25px 0 23px;
  font-size: 2.3em;
}

.products__description .description__text--small {
  margin: 0 0 0 5px;
}

.products__description button {
    width: 270px;
    margin-top: 15px;
}

.description__info {
  font-size: 18px;
  line-height: 1.5;
  max-width: 475px;
}

.description__img {
  text-align: right;
  align-self: center;
}
.description__img img {
 width: 97%;
}

.products__example {
  text-align: center;
  padding-top: 47px;
}

.products__example h3 {
  margin: 0;
}

.products__example .col {
    height: 280px;
    flex: 1;
    background: #fff;
    color: #000;
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.example__img img {
  max-width: 60%;
}

.products__example .col:hover {
  color: #fff;
  background: #000;
}

.example__text {
  padding-bottom: 50px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}

/***************PRODUCTS END***************/
