/*normalize*/

body {
  margin: 0;
}


/*global styles*/

body {
  /*todo*/
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #313131;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  background-color: #ffffff;
}

footer {
  background-color: #c9c9c9;
}
